@model TravelAgency.Models.CustomerT

@{
    ViewBag.Title = "Delete";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div id="content">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Customer Delete</h4>
        </div>
        <div class="panel-body">

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.customername)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.customername)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.customersurname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.customersurname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.birthdate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.birthdate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.address)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-3d btn-danger" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
